
<style>
    p {
        margin: 12px 0 11px;
    }
</style>

<!-- ========== TITLE START ========== -->
<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                Cart
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->
<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">
        <div class="row">
            <!-- ==== TOOLKIT START == -->
            <div class="col-sm-12">
                <form role="form" name="course-form" id="course-form">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-8 col-sm-8">
                                <p>
                                    You are on the Cart                                    
                                </p>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->
