<style>
    .selectedItem {
        color: black;
        font-weight: 900;
    }
</style>
<!-- ========== TITLE START ========== -->
<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                Courses
           
            </div>
        </div>
    </div>
</div>
<!-- ========== TITLE END ========== -->

<!-- ========== CONTENT START ========== -->

<section id="content" ng-init="Init()">
    <div class="container">
        <div class="row">
            <!-- ==== SIDEBAR START == -->
            <div class="col-sm-4">
                <!-- ==== FITER START == -->
                <div class="widget" data-scroll-reveal>
                    <form role="form">
                        <h3>Course List</h3>
                        <ul>
                            <li class="checkbox" ng-repeat="course in Courses" ng-click="DisplayCourse(course);" ng-class="{'selectedItem':course.isSelected}">
                                <label>{{course.courseName}}</label>
                            </li>
                        </ul>
                    </form>
                </div>
                <!-- ==== FITER END == -->

                <!-- ==== NEWSLETTER START == -->
            </div>

            <!-- ==== SIDEBAR END == -->

            <!-- ==== COURSES START == -->

            <div class="col-sm-8">

                <div class="courses">

                    <!-- Course Start -->
                    <div class="course row" data-scroll-reveal>
                        <div class="col-sm-4">
                            <img src="{{CourseList.ImageURL}}" alt="" class="img-responsive" />
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-md-9 col-sm-8">
                                    <h3><a href="courses-details-left-sidebar.html">{{CourseList.CourseName}}</a></h3>
                                    <div class="meta">
                                        <span><a href="#">Start Date</a> : {{CourseList.StartDate}}</span>
                                        <span><a href="#">End Date</a> : {{CourseList.EndDate}}</span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 price">{{CourseList.CurrencyType}} {{CourseList.Price}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>
                                        {{CourseList.Description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>
                    <!-- Course End -->
                </div>
            </div>
            <!-- ==== COURSES END == -->
        </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->

<!-- ========== CONTENT START ========== -->
