<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            todayBtn: true,
            todayHighlight: true
        });
    });
</script>

<style>
    .selectedItem {
        color: black;
        font-weight: 900;
    }


    /*body {
        overflow: hidden;
        background-color: #000000;
    }*/

    .slider {
        width: 800px;
        height: 400px;
        overflow: hidden;
        position: relative;
        /*background: #e6e6e6;*/
        border: 20px solid #FFF;
        margin-top: 20px;
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
    }

    .arrow {
        position: absolute;
        z-index: 1002;
        display: block;
        top: 50%;
        margin-top: -35px;
        width: 36px;
        height: 71px;
        outline: none;
        cursor: pointer;
        background: url(../assets/img/blank.gif) no-repeat;
    }

        .arrow.prev {
            opacity: 0.2;
            left: 20px;
            background-image: url(../assets/img/paddle_prev_999.png);
            transition: 0.2s linear all;
        }

        .arrow.next {
            opacity: 0.2;
            right: 20px;
            background-image: url(../assets/img/paddle_next_999.png);
            transition: 0.2s linear all;
        }

        .arrow.prev:hover {
            opacity: 1;
            background-image: url(../assets/img/paddle_prev_fff.png);
        }

        .arrow.next:hover {
            opacity: 1;
            background-image: url(../assets/img/paddle_next_fff.png);
        }



    /*---------------------------------------------------------
NAV
---------------------------------------------------------*/

    .nonDraggableImage {
        -webkit-user-drag: none;
    }

    .dots .dot {
        position: relative;
        margin: 0 8px;
        width: 12px;
        height: 12px;
    }

        .dots .dot a {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 6px;
            height: 6px;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            background: #FFF;
            border: 1px solid transparent;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -webkit-transition: background-color 0.25s, border-color 0.25s;
            -moz-transition: background-color 0.25s, border-color 0.25s;
            transition: background-color 0.25s, border-color 0.25s;
        }

            .dots .dot a.active {
                border-color: #FFF;
                background-color: transparent;
            }

</style>
<!-- ========== TITLE START ========== -->
<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                {{isPaidPage==true?'Purchased Toolkit':'Toolkit'}}
            </div>
        </div>
    </div>
</div>
<!-- ========== TITLE END ========== -->

<!-- ========== CONTENT START ========== -->

<section id="content" ng-init="Init()">
    <div class="container">
        <div class="row">
            <!-- ==== SIDEBAR START == -->
            <div class="col-sm-4">
                <!-- ==== FITER START == -->
                <div class="widget" data-scroll-reveal>
                    <form role="form">
                        <h3>Toolkit List</h3>
                        <ul>
                            <li class="checkbox" ng-repeat="toolkit in Toolkits" ng-click="DisplayToolkit(toolkit);" ng-class="{'selectedItem':course.isSelected}">
                                <label>{{toolkit.toolkitName}}</label>
                            </li>
                        </ul>
                    </form>
                </div>
                <!-- ==== FITER END == -->

                <!-- ==== NEWSLETTER START == -->
            </div>

            <!-- ==== SIDEBAR END == -->

            <!-- ==== COURSES START == -->

            <div class="col-sm-8">

                <div class="courses">

                    <!-- Student Course View -->
                    <div class="course row" data-scroll-reveal data-ng-hide="isAdmin">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-9 col-sm-8 col-xs-8">
                                    <h3><a href="">{{ToolkitList.toolkitName}}</a></h3>
                                    <!--<div class="meta">
                                        <span><a href="#">Start Date</a> : {{ToolkitList.startDate}}</span>
                                        <span><a href="#">End Date</a> : {{ToolkitList.endDate}}</span>
                                    </div>-->
                                </div>
                                <div class="col-md-3 col-sm-4 price">{{ToolkitList.currencyType}} {{ToolkitList.price}}</div>
                            </div>
                            <div class="row col-sm-12">
                                <a href="">Description</a>
                            </div>
                            <div class="row" data-ng-show="ToolkitList.freeContent!=null && ToolkitList.freeContent.description!=null">
                                <div class="col-sm-12">
                                    <p>
                                        {{ToolkitList.freeContent.description}}
                                    </p>
                                </div>
                            </div>
                            <div class="row" data-ng-show="ToolkitList.publicContent!=null && ToolkitList.publicContent.description!=null">
                                <div class="col-sm-12">
                                    <p>
                                        {{ToolkitList.publicContent.description}}
                                    </p>
                                </div>
                            </div>
                            <div class="row" data-ng-show="ToolkitList.paidContent!=null && ToolkitList.paidContent.description!=null">
                                <div class="col-sm-12">
                                    <p>
                                        {{ToolkitList.paidContent.description}}
                                    </p>
                                </div>
                            </div>

                            <div class="row" >
                                <div class="col-sm-12">
                                    <p>
                                        <button type="submit" style="float: right;" class="btn btn-primary" data-ng-click="AddToCart(ToolkitList)">Add to Cart</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Student Course View End-->

                    <!-- Admin Course View -->
                    <div class="course row" data-scroll-reveal data-ng-show="isAdmin">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <div>
                                        <a href="">Toolkit Name</a>
                                        <input type="text" maxlength="255" class="form-control" data-ng-model="ToolkitList.toolkitName" /><br />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <p>
                                        <a href="">Currency</a>
                                        <select style class="form-control" data-ng-model="ToolkitList.currencyType">
                                            <option value="1">INR</option>
                                            <!--<option value="2">Dollar</option>
                                            <option value="3">Euro</option>-->
                                        </select>
                                    </p>

                                    <p>
                                        <a href="">Price</a>
                                        <input class="form-control" type="number" min="0" data-ng-model="ToolkitList.price" />
                                    </p>
                                </div>
                            </div>
                            <!--<div class="row" style="margin-bottom: 15px;">
                                <p>
                                    <div class="col-sm-2">
                                        <a href="">Start Date</a>
                                        <input type="text" autoclose data-date-format="dd/mm/yyyy" class="datepicker" data-ng-model="ToolkitList.startDate" />
                                    </div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="">End Date</a>
                                        <input type="text" autoclose data-date-format="dd/mm/yyyy" class="datepicker" data-ng-model="ToolkitList.endDate" />
                                    </div>
                                </p>
                            </div>-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>
                                        <a href="">Free Content</a>
                                        <textarea class="form-control" maxlength="1000" data-ng-model="ToolkitList.freeContent.description"></textarea>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>
                                        <a href="">Paid Content</a>
                                        <textarea class="form-control" maxlength="1000" data-ng-model="ToolkitList.paidContent.description"></textarea>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>
                                        <a href="">Public Content</a>
                                        <textarea class="form-control" maxlength="1000" data-ng-model="ToolkitList.publicContent.description"></textarea>
                                    </p>
                                </div>
                            </div>

                            <div class="row" >
                                <div class="col-sm-12">
                                    <button type="submit" style="float: right;" class="btn btn-primary" data-ng-click="ToolkitList(CourseList)">Update</button>
                                </div>
                            </div>
                    </div>
                    <!-- Admin Course End -->

                    <div class="container slider" data-ng-if="!isAdmin">
                        <div ng-if="ToolkitList.freeContent.fileAttachment!=null && ToolkitList.freeContent.fileAttachment.length>0">
                            <img ng-repeat="document in ToolkitList.freeContent.fileAttachment | filter : {isDeleted:false}"
                                 class="slide slide-animation nonDraggableImage" ng-src="{{document.imageURL}}"
                                 ng-hide="!isCurrentSlideIndex($index)">


                            <a class="arrow prev" ng-click="nextSlide(1)"></a>
                            <a class="arrow next" ng-click="prevSlide(1)"></a>
                        </div>

                        <div ng-if="ToolkitList.publicContent.fileAttachment!=null && ToolkitList.publicContent.fileAttachment.length>0">
                            <img ng-repeat="document in ToolkitList.publicContent.fileAttachment | filter : {isDeleted:false}"
                                 class="slide slide-animation nonDraggableImage" ng-src="{{document.imageURL}}"
                                 ng-hide="!isCurrentSlideIndex($index)">


                            <a class="arrow prev" ng-click="nextSlide(2)"></a>
                            <a class="arrow next" ng-click="prevSlide(2)"></a>
                        </div>

                        <div ng-if="ToolkitList.paidContent.fileAttachment!=null && ToolkitList.paidContent.fileAttachment.length>0">
                            <img ng-repeat="document in ToolkitList.paidContent.fileAttachment | filter : {isDeleted:false}"
                                 class="slide slide-animation nonDraggableImage" ng-src="{{document.imageURL}}"
                                 ng-hide="!isCurrentSlideIndex($index)">


                            <a class="arrow prev" ng-click="nextSlide(3)"></a>
                            <a class="arrow next" ng-click="prevSlide(3)"></a>
                        </div>

                    </div>

                    <div class="row col-sm-4 " data-ng-if="isAdmin" data-ng-show="ToolkitList.freeContent.fileAttachment!=null && ToolkitList.freeContent.fileAttachment.length>0">
                        <a href="">Free Content Images</a>
                        <input data-ng-show="isAdmin" type="file" class="form-control" name="txtFileUpload" id="File1" title="Upload File"
                               onchange="angular.element(this).scope().setFiles(this,1);">
                        <span ng-repeat="document in ToolkitList.freeContent.fileAttachment | filter : {isDeleted:false}">
                            <img src="{{document.imageURL}}" alt="" class="img-thumbnail" />
                            <div data-ng-show="isAdmin">
                                {{document.documentName}} (<a href="" ng-click="document.isDeleted=true">Delete</a>)
                            </div>
                        </span>
                    </div>
                    <div class="col-sm-4 " data-ng-if="isAdmin" data-ng-class="classInitialize(DocumentScope.PublicContent)" data-ng-show="ToolkitList.publicContent.fileAttachment!=null && ToolkitList.publicContent.fileAttachment.length>0">
                        <a href="">Public Content Images</a>
                        <input data-ng-show="isAdmin" type="file" class="form-control" name="txtFileUpload" id="File2" title="Upload File"
                               onchange="angular.element(this).scope().setFiles(this,2);">
                        <div ng-repeat="document in ToolkitList.publicContent.fileAttachment | filter : {isDeleted:false}">
                            <img src="{{document.imageURL}}" alt="" class="img-thumbnail" />
                            <div data-ng-show="isAdmin">
                                {{document.documentName}} (<a href="" ng-click="document.isDeleted=true">Delete</a>)
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" data-ng-if="isAdmin" data-ng-class="classInitialize(DocumentScope.PaidContent)" data-ng-show="ToolkitList.paidContent.fileAttachment!=null && ToolkitList.paidContent.fileAttachment.length>0">
                        <a href="">Paid Content Images</a>
                        <input data-ng-show="isAdmin" type="file" class="form-control" name="txtFileUpload" id="txtFileUpload" title="Upload File"
                               onchange="angular.element(this).scope().setFiles(this,3);">
                        <span ng-repeat="document in ToolkitList.paidContent.fileAttachment | filter : {isDeleted:false}">
                            <img src="{{document.imageURL}}" alt="" class="img-thumbnail" />
                            <div data-ng-show="isAdmin">
                                {{document.documentName}} (<a href="" ng-click="document.isDeleted=true">Delete</a>)
                            </div>
                        </span>
                    </div>

                    <div class="col-md-12" data-ng-show="isAdmin">
                        <p>
                            <button type="submit" style="float: right;" class="btn btn-primary" data-ng-click="SaveToolkit(ToolkitList)">Update</button>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
            </div>
            <!-- ==== COURSES END == -->
        </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->

<!-- ========== CONTENT START ========== -->
